<!-- templates/fragments/footer.html -->
<footer th:fragment="footer" class="page-footer bg-dark text-white mt-auto">
    <div class="container text-white py-4 py-lg-5">
        <ul class="list-inline">
            <li class="list-inline-item me-4"><a class="link-light" href="#">Web design</a></li>
            <li class="list-inline-item me-4"><a class="link-light" href="#">Development</a></li>
            <li class="list-inline-item"><a class="link-light" href="#">Hosting</a></li>
        </ul>
        <p class="text-muted mb-0">© 2024 UnionService</p>
    </div>

    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/baguetteBox.min.js}"></script>
    <script th:src="@{/assets/js/vanilla-zoom.js}"></script>
    <script th:src="@{/assets/js/theme.js}"></script>
</footer>