<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Главная страница</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <!-- другие стили и скрипты -->
</head>
<body>
<!-- Вставляем header -->
<header th:replace="fragments/head :: mainHeader"></header>

<main>
    <!-- Содержимое страницы -->
    <h1>Добро пожаловать!</h1>
</main>

<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>