<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заявки по серийному номеру</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body class="container mt-4">
<h2>Заявки по серийному номеру: <span th:text="${serial}">...</span></h2>

<div th:if="${#lists.isEmpty(requests)}">
    <p>Заявки не найдены.</p>
</div>

<table class="table table-bordered" th:if="${!#lists.isEmpty(requests)}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Описание</th>
        <th>Дата</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="req : ${requests}">
        <td th:text="${req.id}"></td>
        <td th:text="${req.getAddress()}"></td>
        <td th:text="${#temporals.format(req.getCreateDate(), 'dd.MM.yyyy')}"></td>
        <td th:text="${req.status}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>